body {
    background-image: url("images/registeration-login1.jpg");
    width:900px;
 
}
.form {
 margin: 50px auto;
    width: 600px;
    padding: 90px 25px;
    background-color: #2e8b57 ;
    border-radius: 0px;
    border: 40px solid black;
    text-align: center;
}
h1.login-title {
   color: black;
    margin: 0px auto 25px;
    font-size: 30px;
    font-weight: 300;

}
.login-input {
    font-size: 19px;
    border: 4px solid #ccc;
    padding: 10px;
    margin-bottom: 40px;
    height: 35px;
    width: calc(100% - 23px);
}
.login-input:focus {
    border-color:#6e8095;
}
.login-button {
    color: #fff;
    background: #55a1ff;
    border-radius: 25px;
    border: 4px solid navy;
    width: 100%;
    height: 50px;
    font-size: 19px;
    text-align: center;
    cursor: pointer;
}


h3 {
    font-weight: normal;
    text-align: center;
}
